<div class="event">
<h2>Edit Event: {{model.title}}</h2>

<form {{action 'saveSingleEvent' model on='submit'}}>
  <h5>Event Title</h5>
  {{input value=model.title}}
  <h5>Event Date</h5>
  {{input value=model.date}}
  <h5>Why?</h5>
  {{#x-select value=model.reason on-change=(action 'setSelection') as |xs|}}
    {{#xs.option}}Pick a reason{{/xs.option}}
    {{#xs.option value="It was something I wanted to do"}}It was something I wanted to do{{/xs.option}}
    {{#xs.option value="I felt like I had to"}}I felt like I had to{{/xs.option}}
    {{#xs.option value="I had no control over it"}}I had no control over it{{/xs.option}}
  {{/x-select}}
  <h5>Event Description</h5>
  {{input class="form-control" value=model.description}}
  <button type='submit'> Save Title </button>
</form>
</div>
