<div class="event">
  {{#if event.editable}}
    {{#link-to 'edit-event' event.id}}
      <button type='submit'>Edit Event</button>
    {{/link-to}}
    <button {{action 'deleteEvent' event}}>Delete Event</button>
  {{/if}}
  {{#link-to 'event' event.id}}
    <h3>{{event.title}}</h3>
  {{/link-to}}
  <h4>{{event.author}}</h4>
  <h5>{{moment-format event.date 'MMMM YYYY'}} | {{event.reason}}</h5>
</div>
{{#each event.comments as |comment|}}
{{single-comment comment=comment
                  deleteComment='deleteSingleComment'
                  updateComment='updateComment'
                  refresh='refresh'

}}
{{/each}}
{{new-comment event=event
              addComment='addSingleComment'
}}
