<div class="event">
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="col-sm-6 col-md-5">
    {{#link-to 'event' event.id}}
    <h3>
    <span class="event-summary-title">{{event.title}}</span>
    </h3>
    {{/link-to}}
    <span class="detail-reason">{{event.reason}}</span><span class="detail-date">{{moment-format event.date 'MMMM YYYY'}}</span>
    <h4>{{event.author}}</h4>
    {{#if event.editable}}
      <div class="text-left">
        {{#link-to 'edit-event' event.id}}
          <button class="btn btn-default" type='submit'>Edit</button>
        {{/link-to}}
        <button class="btn btn-default" {{action 'deleteEvent' event}}>Delete</button>
      </div>
    {{/if}}
</div>
<div class="flexbox-container">
      <div class="event-description">{{event.description}}</div>
    </div>
  </div>
  </div>
</div>
</div>
{{#each event.comments as |comment|}}
  {{single-comment comment=comment
                   deleteComment='deleteSingleComment'
                   updateComment='updateComment'
                   refresh='refresh'
}}
{{/each}}
<div class="comment-new">
{{new-comment event=event
              addComment='addSingleComment'
}}
</div>
<hr style="width: 90vw; border-width: 1px; margin: 0; padding: 0; position: absolute; margin-left: auto;
margin-right: auto;
left: 0;
right: 0;">
