<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    {{navbar-header}}

    <div class="collapse navbar-collapse" id="navigation">
      <ul class="nav navbar-nav">
        {{#if isAuthenticated}}
        <li>{{#link-to "events"}}Events{{/link-to}}</li>
        <li>{{#link-to "users"}}Users{{/link-to}}</li>
        {{/if}}
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {{#if isAuthenticated}}
        <li>{{#link-to "events"}}Signed in as {{user}}{{/link-to}}</li>
        <li>{{#link-to "change-password"}}Change Password{{/link-to}}</li>
        <li><a href="#" {{action "signOut"}}>Sign Out</a></li>
        {{else}}
        <li>{{#link-to "sign-up"}}Sign Up{{/link-to}}</li>
        <li>{{#link-to "sign-in"}}Sign In{{/link-to}}</li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>

{{#each flashMessages.queue as |flash|}}
  {{flash-message flash=flash}}
{{/each}}
  {{outlet}}
  <nav id="footer" class="navbar navbar-default navbar-bottom footer" style="margin-bottom: 0;" role="navigation">
  <div class="container">
    <div class="col-sm-5 footer-item">
      <h3 style="margin: 10px 10px 0 0;"><small>Wait But Why</small></h3>
      <p><small>Copyright © 2018 Andrew Young, LLC</small></p>
    </div>
    <div class="col-sm-7 text-right footer-item" style="margin-top: 20px;">
      <p>Made with love at General Assembly ¯\_(ツ)_/¯</p>
    </div>
  </div>
</nav>
