<form {{action 'newEpisode' on='submit'}}>
  <h5>What did you do?</h5>
  {{input placeholder='I moved to Chicago.' value=episode.title}}
  <h5>When?</h5>
  {{input placeholder='e.g. 20171230' value=episode.date}}
  <h5>Why?</h5>
  {{!-- {{input placeholder='e.g. It was something I wanted to do.' value=episode.why}} --}}
  {{!-- {{input}} --}}
  <select onchange={{action 'setSelection' value="target.value"}}>
   <option disabled selected> -- Cats or Dogs? -- </option>
      <option value="cats">Cats</option>
      <option value="dogs">Dogs</option>
  </select>
  {{!-- {{/input}} --}}
  <h5>Do tell.</h5>
  {{input placeholder='Tell us more.' value=episode.description}}
  <button type='submit'>Create</button>
</form>
