<div class="comment">
  <div class="container">
    <hr>

  {{!-- User Editing View --}}
    {{#if isEditing}}
      <div class="row">
        <div class="col-xs-2 col-md-2 col-lg-1 comment-details">
          <div class="profile-pic-comment" style="background: url({{comment.commenter_image}}); background-size: cover; background-position: center;">
            </div>
          </div>
        <div class="col-xs-9 col-sm-10 col-md-11">
          <div class="col-md-12">
          <p><span class="comment-strong">{{#link-to 'user' comment.user_id}}{{comment.commenter}}{{/link-to}}</span><span class="comment-time"> {{moment-format comment.created_at "MMMM DD, YYYY LT"}}</span></p>
        <form class="col-md-12" {{action 'saveComment' comment on='submit' focus-out='updateComment'}}>
          {{input value=comment.body}}
          <div class="comment-buttons">
          <button class="btn btn-primary" type='submit' {{action 'updateComment'}}>Save</button>
          <button class="btn btn-default" {{action 'cancelCommentChanges'}}>Cancel</button>
        </div>
        </form>
      </div>
      </div>
    </div>

      {{else}}


        {{!-- Default View --}}
      <div class="row">
          <div class="col-xs-3 col-sm-2 col-md-1 comment-details">
              <div class="profile-pic-comment" style="background: url({{comment.commenter_image}}); background-size: cover; background-position: center;">
              </div>
          </div>
          <div class="col-xs-9 col-sm-10 col-md-11">
              <div class="col-md-8">
                <p><span class="comment-strong">{{#link-to 'user' comment.user_id}}{{comment.commenter}}{{/link-to}}</span><span class="comment-time"> {{moment-format comment.created_at "MMMM DD, YYYY LT"}}</span></p>
                <p class="comment-body"><span>{{comment.body}}</span></p>
              </div>
              {{#if comment.editable}}
              <div class="col-md-4 comment-buttons">
                <button class="btn btn-default" {{action 'toggleEditMode'}}>Edit</button>
                <button class="btn btn-default" {{action 'deleteComment'}}>Delete</button>
              </div>
              {{/if}}
            </div>
        </div>
      {{/if}}
    </div>
  </div>
