<div class="comment row">


  {{!-- User Editing View --}}
  {{#if isEditing}}
  <p>{{comment.user_id}} {{comment.commenter}} onn {{moment-format comment.created_at "MMMM DD, YYYY LT"}}</p>
  <form {{action 'saveComment' comment on='submit'}}>
    <div class="col-sm-8">
      {{input value=comment.body}}
      {{!-- <input class="form-control" type="text" value={{comment.body}} oninput={{action "setCommentBody" newValue}} /> --}}

    </div>
    <div class="col-sm-4 text-right">
      {{#if comment.editable}}
        <button class="btn btn-primary" type='submit' {{action 'updateComment'}}>Save</button>
        <button class="btn btn-default" {{action 'cancelCommentChanges'}}>Cancel</button>
      {{/if}}
    </div>
  </form>
  {{else}}


    {{!-- Default View --}}
    <div class="col-sm-7">
      <p>{{comment.user_id}} {{comment.commenter}} onn {{moment-format comment.created_at "MMMM DD, YYYY LT"}}</p>
      <p>{{comment.body}}</p>
    </div>
    <div class="col-sm-5 text-right">
      {{#if comment.editable}}
        <button class="btn btn-default" {{action 'deleteComment'}}>Delete</button>
        <button class="btn btn-default" {{action 'toggleEditMode'}}>Edit</button>
      {{/if}}
    </div>
  {{/if}}
</div>
