<div class="comment row">
  <div class="col-sm-8">
    <p>{{comment.user_id}} {{comment.commenter}} onn {{moment-format comment.created_at 'MMMM DD, YYYY'}}</p>
    <p>{{comment.body}}</p>
  </div>
  <div class="col-sm-4">
    {{#if comment.editable}}
      <button style="float: right;" {{action 'deleteComment'}}>Delete Comment</button>
    {{/if}}
  </div>
</div>
