<div class="comment">

<div class="container">
  <hr>

<div class="row">

  {{!-- User Editing View --}}
  {{#if isEditing}}
  <div class="col-sm-12">
  <p class="comment-details"><span class="comment-strong">{{#link-to 'user' comment.user_id}}{{comment.commenter}}{{/link-to}}</span> {{moment-format comment.created_at "MMMM DD, YYYY LT"}}</p>
</div>
  <form {{action 'saveComment' comment on='submit'}}>
    <div class="col-sm-8">
      {{input value=comment.body}}
    </div>
    <div class="col-sm-4 text-right">
      {{#if comment.editable}}
        <button class="btn btn-primary" type='submit' {{action 'updateComment'}}>Save</button>
        <button class="btn btn-default" {{action 'cancelCommentChanges'}}>Cancel</button>
      {{/if}}
    </div>
  </form>
  {{else}}


    {{!-- Default View --}}
    <div class="col-sm-8">
      <p class="comment-details"><span class="comment-strong">{{#link-to 'user' comment.user_id}}{{comment.commenter}}{{/link-to}}</span> {{moment-format comment.created_at "MMMM DD, YYYY LT"}}</p>
      <p class="comment-body"><span>{{comment.body}}</span></p>
    </div>
    <div class="col-sm-4 text-right">
      {{#if comment.editable}}
        <button class="btn btn-default" {{action 'toggleEditMode'}}>Edit</button>
        <button class="btn btn-default" {{action 'deleteComment'}}>Delete</button>
      {{/if}}
    </div>
  {{/if}}
</div>
</div>
</div>
