<div class="episode" style="padding: 50px; margin: 50px;">
  {{#link-to 'edit-episode' model.id}}
  <button type='submit'> Edit</button>
  {{/link-to}}
  <h1>{{model.title}}</h1>
  <h4>{{moment-format model.date 'MMMM YYYY'}} | {{model.why}}</h4>
  <p>{{model.description}}</p>
  <p>{{model.user.id}}</p>
</div>
