<h2>Episodes</h2>
{{#each model as |episode|}}
  <div class="episode" style="padding: 50px; margin: 50px;">
    <h2>{{episode.title}}</h2>
    <h4>{{moment-format episode.date 'MMMM YYYY'}} | {{episode.why}}</h4>
    <p>{{episode.description}}</p>
    <form {{action 'saveEpisode' episode}}>
      {{input placeholder='episode title' value=episode.date}}
      <button type='submit'> Save Episode Title</button>
    </form>
  </div>
{{/each}}
