
{{#if (eq model.reason "I felt like I had to")}}
<div class="event-red">
  <div class="event">
    <div class="container">
      {{#if model.editable}}
        {{#link-to 'edit-event' model.id}}
          <button class="btn btn-default" type='submit'>Edit Event</button>
        {{/link-to}}
        <button class="btn btn-default" {{action 'destroyEvent' model}}>Delete Event</button>
      {{/if}}
      <h1>{{model.title}} </h1>
          <span class="detail-reason">{{model.reason}}</span><span class="detail-date">{{moment-format model.date 'MMMM YYYY'}}</span>
      <h3>{{#link-to 'user' model.user_id}}{{model.author}}{{/link-to}}</h3>
      <p>{{model.description}}</p>
      <p>{{model.user.id}}</p>
    </div>
  </div>
</div>
{{/if}}


{{#if (eq model.reason "It was something I wanted to do")}}
<div class="event-blue">
  <div class="event">
    <div class="container">
      {{#if model.editable}}
        {{#link-to 'edit-event' model.id}}
          <button class="btn btn-default" type='submit'>Edit Event</button>
        {{/link-to}}
        <button class="btn btn-default" {{action 'destroyEvent' model}}>Delete Event</button>
      {{/if}}
      <h1>{{model.title}}</h1>
      <span class="detail-reason">{{model.reason}}</span><span class="detail-date">{{moment-format model.date 'MMMM YYYY'}}</span>
      <h3>{{#link-to 'user' model.user_id}}{{model.author}}{{/link-to}}</h3>
      <p>{{model.description}}</p>
      <p>{{model.user.id}}</p>
    </div>
  </div>
</div>
{{/if}}

{{#if (eq model.reason "I had no control over it")}}
<div class="event-purple">
  <div class="event">
    <div class="container">
      {{#if model.editable}}
        {{#link-to 'edit-event' model.id}}
          <button class="btn btn-default" type='submit'>Edit Event</button>
        {{/link-to}}
        <button class="btn btn-default" {{action 'destroyEvent' model}}>Delete Event</button>
      {{/if}}
      <h1>{{model.title}}</h1>
      <span class="detail-reason">{{model.reason}}</span><span class="detail-date">{{moment-format model.date 'MMMM YYYY'}}</span>
      <h3>{{#link-to 'user' model.user_id}}{{model.author}}{{/link-to}}</h3>
      <p>{{model.description}}</p>
      <p>{{model.user.id}}</p>
    </div>
  </div>
</div>
{{/if}}



{{#if (eq model.reason "I felt like I had to")}}
<div class="event-red">
{{#each model.comments as |comment|}}
{{single-comment comment=comment
                  deleteComment='destroyComment'
                  updateComment='updateComment'

}}
{{/each}}
<div class="comment-new">
{{new-comment event=model
              addComment='createComment'
}}
</div>
</div>
{{/if}}

{{#if (eq model.reason "It was something I wanted to do")}}
<div class="event-blue">
{{#each model.comments as |comment|}}
{{single-comment comment=comment
                  deleteComment='destroyComment'
                  updateComment='updateComment'

}}
{{/each}}
<div class="comment-new">
{{new-comment event=model
              addComment='createComment'
}}
</div>
</div>
{{/if}}

{{#if (eq model.reason "I had no control over it")}}
<div class="event-purple">
{{#each model.comments as |comment|}}
{{single-comment comment=comment
                  deleteComment='destroyComment'
                  updateComment='updateComment'

}}
{{/each}}
<div class="comment-new">
{{new-comment event=model
              addComment='createComment'
}}
</div>
</div>
{{/if}}
