<div class="event">
  {{#if model.editable}}
    {{#link-to 'edit-event' model.id}}
      <button type='submit'>Edit Event</button>
    {{/link-to}}
    <button {{action 'destroyEvent' model}}>Delete Event</button>
  {{/if}}
  <h1>{{model.title}}</h1>
  <h3>{{#link-to 'user' model.user_id}}{{model.author}}{{/link-to}}</h3>
  <h4>{{moment-format model.date 'MMMM YYYY'}} | {{model.reason}}</h4>
  <p>{{model.description}}</p>
  <p>{{model.user.id}}</p>
</div>
{{#each model.comments as |comment|}}
{{single-comment comment=comment
                  deleteComment='destroyComment'
                  updateComment='updateComment'

}}
  {{!-- <div class="comment row">
    <div class="col-sm-8">
      <p>{{comment.user.id}} {{comment.user.email}} onn {{moment-format comment.created_at 'MMMM DD, YYYY'}}</p>
      <p>{{comment.body}}</p>
    </div>
    <div class="col-sm-4">
      {{#if event.editable}}
        <button style="float: right;" {{action 'deleteComment' event}}>Delete Comment</button>
      {{/if}}
    </div>
  </div> --}}
{{/each}}
{{new-comment event=model
              addComment='createComment'
}}
