<h2 class="text-center">{{model.fellowUser}}'s Events</h2>
<div class="container">
  <div class="col-sm-12">

          {{#if (not-eq model.currentUserId model.fellowUserId)}}
            {{#if model.thisRelationship}}
            <button class="btn btn-default" {{action 'destroyThisRelationship' model.thisRelationship}}>Unfollow</button>
            {{else}}
            <button class="btn btn-default" {{action 'createRelationship' model.fellowUserId}}>Follow</button>
            {{/if}}
          {{/if}}
    </div>
  <div class="col-sm-6">
    {{!-- Displays all friends this user is following --}}
    <h4>{{model.fellowUser}} is Following:</h4>
    {{#each model.activeRelationships as |activeRelationship|}}
    <div class="row">
      <div class="col-sm-7">
      <p>{{#link-to "user" activeRelationship.followed_id}}{{activeRelationship.followed}}{{/link-to}}
      </p>
      </div>

        {{#if (eq activeRelationship.follower_id model.currentUserId)}}
        <div class=" col-sm-5">
        <button class="btn btn-default" type='submit' {{action 'destroyRelationship' activeRelationship.id}}>Unfollow</button>
        </div>
        {{/if}}
      </div>
    {{/each}}

  </div>
  <div class="col-sm-6">
    {{!-- Displays all the friends that are following this user --}}
    <h4>{{model.fellowUser}}'s Followers:</h4>
    {{#each model.passiveRelationships as |passiveRelationship|}}
    <div class="row">
      <div class=" col-sm-7">
      <p>{{#link-to "user" passiveRelationship.follower_id}}{{passiveRelationship.follower}}{{/link-to}}</p>
    </div>
    </div>
    {{/each}}
  </div>
</div>


{{#if (lt model.posts 1)}}
<div class="container text-center">
  <div class="col-sm-8 col-sm-offset-2">
<p style="line-height: 1.6;">{{model.fellowUser}} doesn't have any posts yet.... You can help change this by spamming his or her goddamn email and peer-pressuring them into posting something here so we can scrutinize the flaws of their existence.</p>
<p style="line-height: 1.2;">Or you can do nothing at all.</p>
</div>
</div>
{{/if}}

{{#each model.posts as |event|}}

{{#if (eq event.reason "I felt like I had to")}}
<div class="event-red">
      {{event-summary event=event
                      deleteSingleEvent='destroyEvent'
                      deleteSingleComment='destroyComment'
                      addSingleComment='createComment'
                      updateComment='updateComment'
                      refresh='refresh'
    }}
</div>
{{/if}}
{{#if (eq event.reason "It was something I wanted to do")}}
<div class="event-blue">
      {{event-summary event=event
                      deleteSingleEvent='destroyEvent'
                      deleteSingleComment='destroyComment'
                      addSingleComment='createComment'
                      updateComment='updateComment'
                      refresh='refresh'
    }}
</div>
{{/if}}
{{#if (eq event.reason "I had no control over it")}}
<div class="event-purple" style="background: linear-gradient(to bottom right, #653161, #a24e9e, #a24e9e);">
      {{event-summary event=event
                      deleteSingleEvent='destroyEvent'
                      deleteSingleComment='destroyComment'
                      addSingleComment='createComment'
                      updateComment='updateComment'
                      refresh='refresh'
    }}
</div>
{{/if}}
{{/each}}
